:root {
  --sidebar-bg: #4169E1 !important;
  --sidebar-muted-color: #FFFFFF !important;
  --sidebar-active-color: #FFFFFF !important;
  --sidebar-tab-text-color: #FFFFFF !important;
  --link-color: #4169E1 !important;
  --link-hover-color: #27408b !important;
}

.sidebar {
  background-color: #4169E1 !important;
}

.sidebar a,
.sidebar .site-title,
.sidebar .site-subtitle,
.sidebar .nav-link,
.sidebar .sidebar-tab {
  color: #FFFFFF !important;
}

.sidebar a:hover {
  opacity: 0.9;
  color: #FFFFFF !important;
}
